 /*!
  *  FAM-Code CSS 0.1.0 by @Jesus Federico - https://cloud3dots - @cloud3dots.com
  *  License - http://creativecommons.org/licenses/by-nc-sa/4.0/ or https://www.gnu.org/licenses/gpl-3.0.en.html (Font: GPL or CC BY NC SA 4.0 CSS: GPL)
  *
  *  This work, "FAM-Code CSS", is a derivative of "FAM-Code" by Peter W. Pedrotti, "[Freeware] 100%  Free for Personal and Commercial Use", whose original version
  *  can be found at https://www.fontpalace.com/font-details/FAM-Code/ is used hereby and hereon under CC BY NC SA. "FAM-Code CSS" is licensed under CC BY NC SA or CSS: GPL by
  *  @Jesus Federico.
  */

 /* FONT PATH
  * -------------------------- */

 @font-face {
   font-family: 'FamCode';
   src: url('../fonts/FamCode.eot?ubr2t6');
   src: url('../fonts/FamCode.eot?ubr2t6#iefix') format('embedded-opentype'),
        url('../fonts/FamCode.ttf?ubr2t6') format('truetype'),
        url('../fonts/FamCode.woff?ubr2t6') format('woff'),
        url('../fonts/FamCode.svg?ubr2t6#FamCode') format('svg');
   font-weight: normal;
   font-style: normal;
 }

 .fam {
   display: inline-block;
   font-family: 'FamCode' !important;
   font: normal normal normal 14px/1 famcode;
   font-size: inherit;
   color: inherit;
   text-rendering: auto;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   transform: translate(0, 0);
 }

 .fam-xs {
   font-size: .75em;
 }

 .fam-sm {
   font-size: .875em;
 }

 .fam-lg {
   font-size: 1.33333333em;
   line-height: 0.75em;
   vertical-align: -15%;
 }

 .fam-2x {
   font-size: 2em;
 }

 .fam-3x {
   font-size: 3em;
 }

 .fam-4x {
   font-size: 4em;
 }

 .fam-5x {
   font-size: 5em;
 }

 .fam-6x {
   font-size: 6em;
 }

 .fam-7x {
   font-size: 7em;
 }

 .fam-8x {
   font-size: 8em;
 }

 .fam-9x {
   font-size: 9em;
 }

 .fam-10x {
   font-size: 10em;
 }

 .fam-exclam:before {
   content: "\21";
 }

 .fam-quotedbl:before {
   content: "\22";
 }

 .fam-numbersign:before {
   content: "\23";
 }

 .fam-dollar:before {
   content: "\24";
 }

 .fam-percent:before {
   content: "\25";
 }

 .fam-ampersand:before {
   content: "\26";
 }

 .fam-quotesingle:before {
   content: "\27";
 }

 .fam-parenleft:before {
   content: "\28";
 }

 .fam-parenright:before {
   content: "\29";
 }

 .fam-asterisk:before {
   content: "\2a";
 }

 .fam-plus:before {
   content: "\2b";
 }

 .fam-comma:before {
   content: "\2c";
 }

 .fam-hyphen:before {
   content: "\2d";
 }

 .fam-period:before {
   content: "\2e";
 }

 .fam-slash:before {
   content: "\2f";
 }

 .fam-zero:before {
   content: "\30";
 }

 .fam-one:before {
   content: "\31";
 }

 .fam-two:before {
   content: "\32";
 }

 .fam-three:before {
   content: "\33";
 }

 .fam-four:before {
   content: "\34";
 }

 .fam-five:before {
   content: "\35";
 }

 .fam-six:before {
   content: "\36";
 }

 .fam-six1:before {
   content: "\a0";
 }

 .fam-seven:before {
   content: "\37";
 }

 .fam-eight:before {
   content: "\38";
 }

 .fam-nine:before {
   content: "\39";
 }

 .fam-colon:before {
   content: "\3a";
 }

 .fam-semicolon:before {
   content: "\3b";
 }

 .fam-less:before {
   content: "\3c";
 }

 .fam-equal:before {
   content: "\3d";
 }

 .fam-greater:before {
   content: "\3e";
 }

 .fam-question:before {
   content: "\3f";
 }

 .fam-at:before {
   content: "\40";
 }

 .fam-A:before {
   content: "\41";
 }

 .fam-B:before {
   content: "\42";
 }

 .fam-C:before {
   content: "\43";
 }

 .fam-D:before {
   content: "\44";
 }

 .fam-E:before {
   content: "\45";
 }

 .fam-F:before {
   content: "\46";
 }

 .fam-G:before {
   content: "\47";
 }

 .fam-H:before {
   content: "\48";
 }

 .fam-I:before {
   content: "\49";
 }

 .fam-J:before {
   content: "\4a";
 }

 .fam-K:before {
   content: "\4b";
 }

 .fam-L:before {
   content: "\4c";
 }

 .fam-M:before {
   content: "\4d";
 }

 .fam-N:before {
   content: "\4e";
 }

 .fam-O:before {
   content: "\4f";
 }

 .fam-P:before {
   content: "\50";
 }

 .fam-Q:before {
   content: "\51";
 }

 .fam-R:before {
   content: "\52";
 }

 .fam-S:before {
   content: "\53";
 }

 .fam-T:before {
   content: "\54";
 }

 .fam-U:before {
   content: "\55";
 }

 .fam-V:before {
   content: "\56";
 }

 .fam-W:before {
   content: "\57";
 }

 .fam-X:before {
   content: "\58";
 }

 .fam-Y:before {
   content: "\59";
 }

 .fam-Z:before {
   content: "\5a";
 }

 .fam-bracketleft:before {
   content: "\5b";
 }

 .fam-backslash:before {
   content: "\5c";
 }

 .fam-bracketright:before {
   content: "\5d";
 }

 .fam-asciicircum:before {
   content: "\5e";
 }

 .fam-underscore:before {
   content: "\5f";
 }

 .fam-grave:before {
   content: "\60";
 }

 .fam-a:before {
   content: "\61";
 }

 .fam-b:before {
   content: "\62";
 }

 .fam-c:before {
   content: "\63";
 }

 .fam-d:before {
   content: "\64";
 }

 .fam-e:before {
   content: "\65";
 }

 .fam-f:before {
   content: "\66";
 }

 .fam-g:before {
   content: "\67";
 }

 .fam-h:before {
   content: "\68";
 }

 .fam-i:before {
   content: "\69";
 }

 .fam-j:before {
   content: "\6a";
 }

 .fam-k:before {
   content: "\6b";
 }

 .fam-l:before {
   content: "\6c";
 }

 .fam-m:before {
   content: "\6d";
 }

 .fam-n:before {
   content: "\6e";
 }

 .fam-o:before {
   content: "\6f";
 }

 .fam-p:before {
   content: "\70";
 }

 .fam-q:before {
   content: "\71";
 }

 .fam-r:before {
   content: "\72";
 }

 .fam-s:before {
   content: "\73";
 }

 .fam-t:before {
   content: "\74";
 }

 .fam-u:before {
   content: "\75";
 }

 .fam-v:before {
   content: "\76";
 }

 .fam-w:before {
   content: "\77";
 }

 .fam-x:before {
   content: "\78";
 }

 .fam-y:before {
   content: "\79";
 }

 .fam-z:before {
   content: "\7a";
 }

 .fam-braceleft:before {
   content: "\7b";
 }

 .fam-bar:before {
   content: "\7c";
 }

 .fam-braceright:before {
   content: "\7d";
 }

 .fam-asciitilde:before {
   content: "\7e";
 }

 .fam-square:before {
   content: "\bf";
 }

 .fam-level:before {
   content: "\c0";
 }

 .fam-plumb:before {
   content: "\c1";
 }

 .fam-keys:before {
   content: "\c2";
 }

 .fam-feathers:before {
   content: "\c3";
 }

 .fam-bible:before {
   content: "\c4";
 }

 .fam-square-compass-sun:before {
   content: "\c5";
 }

 .fam-square-compass-moon:before {
   content: "\c6";
 }

 .fam-cornucopia-right:before {
   content: "\c7";
 }

 .fam-cornucopia-left:before {
   content: "\c8";
 }

 .fam-rods-crossed:before {
   content: "\c9";
 }

 .fam-sword:before {
   content: "\ca";
 }

 .fam-harp:before {
   content: "\cb";
 }

 .fam-square-compass-ea:before {
   content: "\cc";
 }

 .fam-scroll:before {
   content: "\cd";
 }

 .fam-compass:before {
   content: "\ce";
 }

 .fam-grip:before {
   content: "\cf";
 }

 .fam-mallet:before {
   content: "\d0";
 }

 .fam-apron:before {
   content: "\d1";
 }

 .fam-gavel:before {
   content: "\d2";
 }

 .fam-gauge:before {
   content: "\d3";
 }

 .fam-light:before {
   content: "\d4";
 }

 .fam-lights:before {
   content: "\d5";
 }

 .fam-chalk:before {
   content: "\d6";
 }

 .fam-square-compass-fc:before {
   content: "\d7";
 }

 .fam-steps:before {
   content: "\d8";
 }

 .fam-acacia:before {
   content: "\d9";
 }

 .fam-celestial-globe:before {
   content: "\da";
 }

 .fam-terraqueous-globe:before {
   content: "\db";
 }

 .fam-tuscan:before {
   content: "\dc";
 }

 .fam-doric:before {
   content: "\dd";
 }

 .fam-ionic:before {
   content: "\de";
 }

 .fam-corinthian:before {
   content: "\df";
 }

 .fam-composite:before {
   content: "\e0";
 }

 .fam-boaz:before {
   content: "\e1";
 }

 .fam-jachin:before {
   content: "\e2";
 }

 .fam-wages:before {
   content: "\e3";
 }

 .fam-square-compass:before {
   content: "\e4";
 }

 .fam-square-compass-master:before {
   content: "\e5";
 }

 .fam-coffin:before {
   content: "\e6";
 }

 .fam-rough-ashlar:before {
   content: "\e7";
 }

 .fam-perfect-ashlar:before {
   content: "\e8";
 }

 .fam-trowel:before {
   content: "\e9";
 }

 .fam-beehive:before {
   content: "\ea";
 }

 .fam-hope:before {
   content: "\eb";
 }

 .fam-atack:before {
   content: "\ec";
 }

 .fam-iacute:before {
   content: "\ed";
 }

 .fam-constitutions:before {
   content: "\ee";
 }

 .fam-eye:before {
   content: "\ef";
 }

 .fam-345-triangle:before {
   content: "\f0";
 }

 .fam-hourglass-scythe:before {
   content: "\f1";
 }

 .fam-carving-gavel:before {
   content: "\f2";
 }

 .fam-shovel:before {
   content: "\f3";
 }

 .fam-square-quadrant:before {
   content: "\f4";
 }

 .fam-acacia-branch:before {
   content: "\f5";
 }

 .fam-broken-column:before {
   content: "\f6";
 }

 .fam-setting-maul:before {
   content: "\f7";
 }

 .fam-trivium:before {
   content: "\f8";
 }

 .fam-quadrivium:before {
   content: "\f9";
 }

 .fam-glyph81:before {
   content: "\e900";
 }

 .fam-glyph88:before {
   content: "\e901";
 }

 .fam-glyph93:before {
   content: "\e902";
 }
